/*
Cascade Style Sheet of the script navigator.
*/
/* 
    Created on : 11-feb-2014, 19:55:56
    Author     : David Migel de la Fuente
*/

html, body{
    overflow: hidden;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

section, nav, fieldset{
    box-sizing: inherit;
    -moz-box-sizing: inherit;
}

@media (orientation: landscape){
    fieldset{
        display: inline-block;
        border-top-right-radius: 0px !important;
        float:left;
        width: 50%;
    }

    #answers_section {
        display: inline-block;
        padding-top: 1.45rem;
        width: 50%;
    }

    #answers_box {
        border-top-width: 3px !important;
        border-left-width: 0px !important;
    }
}
@media (orientation: portrait){
    #answers_section {
        padding-bottom: 2rem;
    }
}
#questions_box > div > p,
#advices_strategies_box > div > p {
    text-align: center;
}
#questions_box > div > p:last-child {
    padding: 1.5rem;
    padding-bottom: 0rem;
}
#advices_strategies_box > div > p:last-child {
    padding: 1.5rem;
}

#questions_box, #advices_strategies_box{
    padding: 1rem;
    max-height: 85%;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: scroll;
}
#questions_box img, #advices_strategies_box img{
    width: 2.2rem;
}

#answers_box {
    max-height: 100%;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
    border: 3px solid #2E2E2E;
    border-top-width: 0px;
}

#answers_box > div {
    background-color: #D8D8D8;
    border-bottom: 1px solid;
    padding: 10px;
    cursor: pointer;
    clear: both;
    min-height: 1.5rem;
    text-align: left;
}
#answers_box > div:active {
    background-color: #FFFFFF;
}
#answers_box > div:last-child{
    border-bottom: none;
}
.answer img {
    width: 1.5rem;
}
.answer .multimedia_bar{
    display:inline-block;
    margin-left: 0.5rem;
    float: right;
    width: 4.5rem;
}
.answer .answer_text_box {
    display: inline-block;
}

#advices_strategies_box {
    display: none;
}

.linked_icon {
    cursor: pointer;
}
.no_linked_icon {
    opacity: 0.1;
}
#multimedia_viewer_box {
    position: absolute;
    z-index: 200;

    top: 0rem;
    left: 0rem;
    height: 100%;
    width: 100%;

    margin: 0;
    padding: 0.5rem;

    display: none;

    background-image: url(../images/background_viewer.png);
}
#multimedia_viewer {
    padding: 1rem;

    border: 0.2rem solid #2E2E2E;
    background-color: #ffffff;
    border-radius: 1.5rem;
    text-align: center;

    left: auto;

    max-height: 90%;
    max-width: 90%;

    display: inline-block;
}

#multimedia_content {
    margin-bottom: 10px;
    max-height: 80%;
    max-width: 80%;
}

fieldset{
    margin-top: 0.5rem;
    height: 45%;
    border: 3px solid #2E2E2E;
    border-top-right-radius: 20px;
    background-color: #ffffff;
}

legend{
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
    background-color: #999999;
    border-color: #2E2E2E;
    border-style: solid;
    border-radius: 5px;
    padding:4px;
}

#menu_bar img:last-child {
    display: none;
}

#downloading_content_splashscreen {
    display: none;
    width: 100%;
    height: 100%;
    background-image: url(../images/background_viewer.png);
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    text-align: center;
}
#downloading_content_splashscreen * {
    text-align: center;
}
#alert_box {
    display: inline-block;
    padding: 1rem;
    background-color: #D8D8D8;
    border-color: #2E2E2E;
    border-style: solid;
    border-radius: 0px 20px;
    position: fixed;
    left: 10%;
    right: 10%;
    top: 50%;
    margin-top: -2rem;
    z-index: 101;
}

#current_state_bar {
    text-align: left;
    display: inline-block;
    width: 70%;
    position: relative;
    border-radius: 0.75rem;
    margin-bottom: 1.5rem;
}

#percentage_max {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 1.5rem;
    background-color: #2E2E2E;
    position:absolute;
    z-index: 102;
    padding-left: 0.35rem;
    width: 100%;
    border-radius : inherit;
}

#percentage_done {
    display: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: #2E2E2E solid 0.15rem;
    height: 1.5rem;
    background-color: #FFFFFF;
    position:absolute;
    z-index: 103;
    width: 0%;
    border-radius : inherit;
}

#percentage_text {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    top: 0.2rem;
    left: 0.4rem;
    font-size: 1rem;
    height: 1.5rem;
    position:absolute;
    z-index: 104;
    text-align: center;
    color: #000000;
}